/* COMMON STYLE HERE */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.mid {
    width: 80%;
    margin: auto;

}

.text {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.section-description {
    text-align: center;
    margin: 30px;
}

.primary-button {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 180px;
}

/* HEADER SECTION STYLE */
header {
    background: rgba(229, 84, 115, 0.10);
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    margin-bottom: 30px;
}

.banner-images {
    margin-top: 50px;
}

/* FEATURED AREA STYLE */

.flower-trees {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.flower-image-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flower-image-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flower-image-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.feature-link {
    display: block;
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-top: 30px;
}

/* SERVICE SECTION STYLE */
.service {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px;
}

.service-type {
    text-align: center;
}

.service-text {
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}

/* HOT DEAL AREA STYLE */
.hdp {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 120px;
    padding: 100px;
}

.hot-deal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-text {
    text-align: center;
}